.midterm, .endterm, .msg-container{
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    padding: 20px 30px;
    margin: 20px;
    background: #fff;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-weight:600;
    margin: 20px;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg p{
    font-weight: 700;
    color: #007E33;
}
.table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.table tr{
    text-align: center;
}

.table tr td, tr th{
    padding: 20px;
}

.update button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #0d47a1;
    border: 1px solid #0d47a1;
    cursor: pointer;
}

.update button:hover{
    color: #fff;
    background-color: #0d47a1;
}