.box{
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    padding: 20px 30px;
    margin: 20px;
    background: #fff;
}

.search div i{
    font-size:20px;
}
.search div input{
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 90%;
}

.search div button{
    border: 1px solid #4285F4;
    color: #4285F4;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.search div button:hover{
    background-color: #4285F4;
    color: #fff;
}


.search div input:focus{
    outline: none;
}

#nodata{
    align-items: center;
    color:#CC0000;
    font-weight: 700;
}

.row{
    display:none;
    justify-content: space-between;
    padding: 10px;
}

.row div span{
    padding: 10px 30px;
}
.row span button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.row span a{
    text-decoration: none;
}

.row #update button{
    border: 1px solid #4285F4;
    color: #4285F4;;
}

.row #update button:hover{
    color:#fff;
    background-color: #4285F4;
}

.row #delete button{
    border: 1px solid #CC0000;
    color: #CC0000;
}

.row #delete button:hover{
    color:#fff;
    background-color: #CC0000;
}